<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial- 
    scale=1.0">
    <title>Anuj's Art</title>
    <style>
     {% include 'styles.html'%} 
    </style> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="icon" type="image/png" href="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/logo.png/">


</head>
<body>
    <nav>
      {%include 'navbar.html'%}
    </nav>
        <div class="about_us">
          <h1 class="title">About US</h1>
          <div class="about_content">
            <div class="image" img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image7.jpg/ alt= Norway; style=float:left; width:50%; height:100%;">
            </div>
            <div class="content">
              <p>
                I'm a passionate sketch artist,capturing the beauty 
                of life.My work is a reflection of the world as I 
                see it,brought to life through simple yet expressive 
                sketches.Explore my portfolio to discover a 
                collection of moments and emotions,all sketched 
                with love and detail.
              </p>
            </div>
          </div>
        </div>

     
</body>
</html>


