<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial- 
    scale=1.0">
    <title>Anuj's Art</title>
    <style>
     {% include 'styles.html'%} 
    </style> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="icon" type="image/png" href="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/logo.png/">
 

</head>
<body>
    <nav>
      {%include 'navbar.html'%}
    </nav>
</body>
</html>