<!DOCTYPE html>
<html>
  
  
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial- 
      scale=1.0">
      <title>Anuj's Art</title>
      <style>
         h1{font-size: 60px;font-family: verdana;padding-left: 
         50px;}
         p{font-size: 20px;padding-right: 80px;padding-top: 50px;}
         #container{
           border: 30px solid green;
           background: cream;
         }
      </style>
  
  </head>
<body> 
    <div id="container">
      <font color ="black">
         <table width="100%">
            <tr>
             
            <nav>
        
            <td align="left">
              <h1>
                Hi, I am 
                <a
                  href="https://jovian.com/aakashns/web- 
                  development- 
                  with-python"
                  title="Anuj's Website">
                  ANUJ NAIR
                </a>
          
                Creative Director. <br>Find me on
                <a
                  href="https://jovian.com/aakashns/web- 
                  development- 
                  with-python"
                  title="The best place to find more information 
                  on 
                  art">
                  Instagram
                </a>
              </h1>
            </td> 
        
            <td align="right">
            <p>
              I'm a passionate sketch artist,capturing the beauty 
              of life.My work is a reflection of the world as I 
              see 
              it,brought to life through simple yet expressive 
              sketches.Explore my portfolio to discover a 
              collection of moments and emotions,all sketched 
              with 
              love and detail.
            </p>
            </td>
  
        
            </nav>
            </tr> 
           
         </table>
      </font>
      <h3>
        <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/black.jpg/" alt="Nature" class="responsive" width="600" height="400">
        </h3>
    </div>

</body>

</html>