<div class="column">
  <a href="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image1.jpg">
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image1.jpg/"alt="image1"image1>
  </a> 
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image2.jpg/">
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image3.jpg/">
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image8.jpg/">
</div>
<div class="column">
  
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image4.jpg/">
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image5.jpg/">
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image6.jpg/">
  <img src="https://14d72653-ed73-411f-bd20-2bc6e675fd20-00-3ssydc3m8wg7g.sisko.replit.dev/static/image7.jpg/">
</div>
